p{
    text-align: justify;
}

.div_menu{
    font-weight: bold;
    background-color: black;
}

.menu{
    text-transform: uppercase;
    color: white !important;
    font-family: 'Times New Roman';
}

.slider-div{
    text-align: center;
}

.slider{
    text-decoration: 1;
}
.footer{
    background-color: black;
    text-align: center;
    color: white !important;
}

.footer-alamat{
    background-color: black;
    color: white !important;
    text-align: center;
    font-size: 13px;
}